target/META-INF/mule-src/sys-sampone/src/main/mule/Interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sys-samponeFlow" doc:id="618c4894-92bb-4cfa-948d-49c3f0aec75d">
		<http:listener doc:name="Listener" doc:id="5454bbd0-97f3-40cc-9818-0024dc817296" config-ref="HTTP_Listener_config" path="${http.path}" >
			<http:error-response >
				<http:body ><![CDATA[#[output application/json --- payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<http:request method="GET" doc:name="Request" doc:id="802e7468-9e54-461c-b0ad-76cd012afcca" config-ref="HTTP_Request_configuration" path="/">
			<http:query-params><![CDATA[#[output application/java
---
{
	"accessToken" : "${secure::smapOne.token}"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="fea56012-e153-49a2-a0d5-65232942f822" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="ff78287e-d885-4e8f-aaa0-68f97779f701">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item,index)->{
	"smapId" : item.smapId
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="list"><![CDATA[%dw 2.0
output application/java
---
{
	url : []
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="c3b83370-f44e-4465-991d-02b55fd71cd9" name="gettingURL" />
		<logger level="INFO" doc:name="Logger" doc:id="e7384fa2-c397-41e4-8038-99b8c0a9eea8" message="#[payload]" />
	</flow>
	<flow name="gettingURL" doc:id="4a504321-dd1a-4ded-ae22-16974f075f28">
		<foreach doc:name="For Each" doc:id="71c1a589-99b0-4700-80de-136c0be1d8dc">
			<http:request method="GET" doc:name="Request" doc:id="05f40d51-16b8-4d6a-9bad-7309a8d487d1" config-ref="HTTP_Request_configuration" path='#[payload.smapId ++ "${Smaps.path}"]'>
				<http:query-params><![CDATA[#[output application/java
---
{
	"markAsExported" : "${Smaps.markAsExported}",
	"accessToken" : "${secure::smapOne.token}"
}]]]></http:query-params>
			</http:request>
			<logger level="INFO" doc:name="Logger" doc:id="12ce5c72-e176-4c2e-9b8a-af0dea30f34f" message="#[payload[0].data.RepeatGroup_Doku[0].Photo.url]" />
			<set-variable value='#[%dw 2.0
output application/json
---
{
	"URL_Hit" : payload[0].data.RepeatGroup_Doku[0].Photo.url,
	"File_Name" : payload[0].data.RepeatGroup_Doku[0].Photo.fileName
}]' doc:name="Set Variable" doc:id="09a3152c-98ce-41da-86cf-735912c4bed0" variableName="Url_List" />
			<flow-ref doc:name="Flow Reference" doc:id="a3a17751-3071-43f3-a30f-944bf71a68b9" name="FilteringOutEmptyArray" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="fa971f3f-5006-449f-881e-c01dd5af24b9" message="#[vars.list.url]" />
		<set-payload value="#[vars.list.url]" doc:name="Set Payload" doc:id="16f9960c-4bcb-4259-a1bf-1690507d21e3" />
		<flow-ref doc:name="Flow Reference" doc:id="8efdc2a3-5523-4fde-824c-490a08cbe177" name="gettingDataFlow" />
		<logger level="INFO" doc:name="Logger" doc:id="d9514d47-09c9-40ae-9293-8da8d700aed1" message="#[payload]" />
	</flow>
	<sub-flow name="FilteringOutEmptyArray" doc:id="c6a2815d-8c51-48cb-b3d3-8cdc43608c37" >
		<choice doc:name="Choice" doc:id="eb0935a3-8e86-42c4-a3fe-dff98b39e240">
				<when expression="#[not isEmpty(vars.Url_List.URL_Hit)]">
					<ee:transform doc:name="Transform Message" doc:id="05939c2b-d1a7-41e0-99b4-3aee2d4d7689">
				<ee:message>
				</ee:message>
						<ee:variables>
							<ee:set-variable variableName="list"><![CDATA[%dw 2.0
output application/json
---
{
	url : (vars.list.url as Array) + vars.Url_List
}]]></ee:set-variable>
						</ee:variables>
			</ee:transform>
				</when>
				<otherwise>
					<logger level="INFO" doc:name="Logger" doc:id="e4bd11a5-cfe1-4acb-9fb3-27fcfff9bfef" message="#[payload]" />
				</otherwise>
			</choice>
	</sub-flow>
</mule>
